.assortment-list {
  @include markerless;

  margin: 0 auto;
  margin-top: 121px;
}


.assortment-list__item {
  width: 100vw;
  min-width: 320px;
}


.assortment-list__item-link {
  display: flex;

  position: relative;

  min-height: 103px;

  padding-top: 25px;
  padding-left: 29px;


  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: $white;

  transition: min-height 0.1s ease, margin 0.1s ease;


  &--interior {
    background-color: $mint--light;
  }

  &--toy {
    background-color: $mint--dark;
  }
}


.assortment-list__item-title {
  max-width: 124px;
}


.assortment-list__item-icon {
  position: absolute;
  right: 0;

  width: 62px;
  height: 62px;

  transition: opacity 0.1s ease;


  &--interior {
    top: 23px;
    right: 14px;

    fill: $mint--icons;
    opacity: 0.5;
  }

  &--toy {
    top: 22px;
    right: 25px;

    fill: $mint--icons;
    opacity: 0.5;
  }
}


/* ************************************************
*** Псевдоклассы для разных состояний элементов ***
************************************************ */
.assortment-list__item-link:hover,
.assortment-list__item-link:focus {
  min-height: 108px;
  margin-top: -5px;
}

.assortment-list__item-link:active {
  color: rgba($white, 0.3);
}

.assortment-list__item-link:hover .assortment-list__item-icon,
.assortment-list__item-link:focus .assortment-list__item-icon {
  opacity: 0.7;
}

.assortment-list__item-link:active .assortment-list__item-icon {
  opacity: 0.3;
}


/*
=======================================================
=== МЕДИАВЫРАЖЕНИЯ: стили для разных ширин вьюпорта ===
=======================================================
*/

// --- 1) Медиа для "Планшетной" версии сайта ---
@media (min-width: $width--tablet) {
  .assortment-list {
    display: flex;
    justify-content: space-between;

    width: 100vw;

    margin-top: 373px;
    margin-right: auto;
    margin-left: auto;
  }


  .assortment-list__item {
    display: flex;
    flex-grow: 1;

    width: auto;
    min-height: 119px;
  }


  .assortment-list__item-link {
    display: flex;
    flex-grow: 1;

    padding-top: 28px;
    padding-left: 36px;

    font-size: 20px;
    line-height: 30px;
  }


  .assortment-list__item-icon {
    &--interior {
      top: 30px;
      right: 14px;
    }

    &--toy {
      top: 32px;
      right: 32px;
    }
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Планшетной" версии ---
}


// *** 2) Медиа для "Десктопной" версии сайта ***
@media (min-width: $width--desktop) {
  .assortment-list {
    margin-top: 359px;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Десктопной" версии ---
}
