.button {
  /*
  --- Скорее всего, display: flex; — это временное решение,
  --- т.к. при соблюдении "Pixel Perfect" придётся все значения подгонять
  --- через padding'и и margin'ы...
  */

  display: flex;
  justify-content: center;

  // --------------------------------------------------------------------

  margin: 0;
  padding: 0;

  width: auto;
  min-height: 60px;

  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: $gray--dark;

  border: 2px solid $gray--dark;

  transition: color 0.1s ease, background-color 0.1s ease;


  // --- Псевдоклассы для разных состояний элемента ---
  &:hover,
  &:focus {
    color: $white;
    background-color: $gray--dark;
  }

  &:active {
    color: rgba($white, 0.3);
  }
}
