.container {
  width: 320px;

  margin: 0 auto;
  padding: 0;


  // --- Модификатор для Модального окна ---
  &--modal {
    padding: 0 30px;
    margin-bottom: 46px;
  }
}


/*
=======================================================
=== МЕДИАВЫРАЖЕНИЯ: стили для разных ширин вьюпорта ===
=======================================================
*/

// --- 1) Медиа для "Планшетной" версии сайта ---
@media (min-width: $width--tablet) {
  .container {
    width: 668px;


    // --- Настройка контейнера для секции "Отзывы" (Главная страница) ---
    &--reviews {
      width: 768px;
    }


    // --- Модификатор для Модального окна ---
    &--modal {
      width: 567px;
      min-height: 338px;

      margin-bottom: 0;

      background-color: $white;

      border: 1px solid $steel--dark;

      box-shadow: 0 5px 10px rgba($black, 0.25);
    }
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Планшетной" версии ---
}


// *** 2) Медиа для "Десктопной" версии сайта ***
@media (min-width: $width--desktop) {
  .container {
    width: 1050px;


    &--modal {
      width: 567px;
    }
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Десктопной" версии ---
}
