.copyright {
  margin-top: 15px;
  padding-left: 30px;
  padding-right: 30px;

  border-top: 1px solid transparent;
}


.copyright__developer {
  margin: 0;
}


.copyright__developer-title {
  display: inline-block;

  margin-top: 11px;
  margin-left: 38px;

  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
}


.copyright__developer-link {
  position: relative;

  width: 41px;
  height: 41px;

  text-decoration: none;
  color: $black;
}


.copyright__developer-logo {
  position: absolute;
  top: -8px;
  right: -63px;

  width: 41px;
  height: 41px;

  fill: $mint--light;
}


/* ************************************************
*** Псевдоклассы для разных состояний элементов ***
************************************************ */

.copyright__developer-link:hover .copyright__developer-logo,
.copyright__developer-link:focus .copyright__developer-logo {
  fill: $mint--hover;
}

.copyright__developer-link:active {
  opacity: 0.3;
}


/*
=======================================================
=== МЕДИАВЫРАЖЕНИЯ: стили для разных ширин вьюпорта ===
=======================================================
*/

// --- 1) Медиа для "Планшетной" версии сайта ---
@media (min-width: $width--tablet) {
  .copyright {
    margin-top: 0;
    margin-left: 49px;
  }


  .copyright__developer-title {
    margin-left: 0;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Планшетной" версии ---
}


// *** 2) Медиа для "Десктопной" версии сайта ***
@media (min-width: $width--desktop) {
  .copyright {
    margin-left: 0;
    padding: 0;
    padding-right: 57px;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Десктопной" версии ---
}
