.dividing-line {
  width: 100%;
  height: 7px;

  margin: 0;

  background-color: transparent;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: contain;


  // --- Настройки для правильного расположения линий в разных секциях ---
  &--after-knitted-baskets {
    margin-top: 34px;
  }

  &--after-reviews {
    margin-top: 42px;
  }
}


/*
=======================================================
=== МЕДИАВЫРАЖЕНИЯ: стили для разных ширин вьюпорта ===
=======================================================
*/

// --- 1) Медиа для "Планшетной" версии сайта ---
@media (min-width: $width--tablet) {
  .dividing-line {
    height: 17px;


    // --- Настройки для правильного расположения линий в разных секциях ---
    &--after-knitted-baskets {
      margin-top: 45px;
    }

    &--after-reviews {
      margin-top: 68px;
    }
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Планшетной" версии ---
}


// *** 2) Медиа для "Десктопной" версии сайта ***
@media (min-width: $width--desktop) {
  .dividing-line {
    height: 23px;


    // --- Настройки для правильного расположения линий в разных секциях ---
    &--after-knitted-baskets {
      margin-top: 73px;
    }

    &--after-reviews {
      margin-top: 66px;
    }
  }

  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Десктопной" версии ---
}
