.fill-zigzag-line {
  display: none;

  background-color: transparent;
  background-image: url("../img/bg-zigzag-fill.svg");
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: contain;
}


/*
=======================================================
=== МЕДИАВЫРАЖЕНИЯ: стили для разных ширин вьюпорта ===
=======================================================
*/

// --- 1) Медиа для "Планшетной" версии сайта ---
@media (min-width: $width--tablet) {
  .fill-zigzag-line {
    display: block;

    position: absolute;
    bottom: -12px;

    width: 100vw;
    height: 24px;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Планшетной" версии ---
}


// *** 2) Медиа для "Десктопной" версии сайта ***
@media (min-width: $width--desktop) {
  .fill-zigzag-line {
    bottom: -16px;

    height: 33px;


    &--inner-page {
      bottom: -14px;
    }
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Десктопной" версии ---
}
