.main-content__head {
  position: relative;
}

.main-content__main-heading {
  margin: 0 auto;

  text-align: center;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;


  // --- Модификатор класса для главного заголовка на Главной странице ---
  &--main-page {
    width: 260px;

    margin-top: 20px;
  }

  // --- Модификатор класса для главного заголовка на Внутренних страницах ---
  &--inner-page {
    padding-top: 69px;
    padding-right: 17px;
    padding-left: 12px;
  }
}


.main-content__form-description {
  margin-top: 23px;
  margin-bottom: 0;

  width: 260px;

  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}


.main-content__form {
  margin-top: 26px;
}


/*
=======================================================
=== МЕДИАВЫРАЖЕНИЯ: стили для разных ширин вьюпорта ===
=======================================================
*/

// --- 1) Медиа для "Планшетной" версии сайта ---
@media (min-width: $width--tablet) {
  .main-content__main-heading {
    font-size: 43px;
    line-height: 50px;

    &--main-page {
      width: 520px;

      margin-top: 153px;
    }


    &--inner-page {
      margin-top: 25px;
      padding-left: 18px;
    }
  }


  .main-content__form-description {
    width: 668px;

    margin-top: 71px;

    font-size: 17px;
    line-height: 30px;
  }


  .main-content__form {
    padding-left: 0;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Планшетной" версии ---
}


// *** 2) Медиа для "Десктопной" версии сайта ***
@media (min-width: $width--desktop) {
  .main-content__main-heading {
    font-size: 53px;
    line-height: 57px;


    &--main-page {
      width: 628px;
    }
  }


  .main-content__form-description {
    width: 700px;

    margin-top: 120px;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Десктопной" версии ---
}
