.map {
  margin-top: 37px;
}

.map__map-place {
  width: 100vw;

  border: none;
}


.map__writeus-button {
  margin: 0 auto;
  margin-top: 33px;
  padding-top: 13px;

  width: 260px;
  min-height: 52px;

  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}


/*
=======================================================
=== МЕДИАВЫРАЖЕНИЯ: стили для разных ширин вьюпорта ===
=======================================================
*/

// --- 1) Медиа для "Планшетной" версии сайта ---
@media (min-width: $width--tablet) {
  .map {
    margin-top: 56px;
  }


  .map__writeus-button {
    width: 230px;

    margin-top: 49px;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Планшетной" версии ---
}


// *** 2) Медиа для "Десктопной" версии сайта ***
@media (min-width: $width--desktop) {
  .map {
    position: relative;

    margin: 0;
  }


  .map__map-place {
    width: 525px;
    min-height: 100%;
  }


  .map__writeus-button {
    position: absolute;
    left: -349px;
    bottom: 6px;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Десктопной" версии ---
}
