.modal {
  display: none;

  position: fixed;
  top: 0;
  left: 0;


  &--open {
    display: block;
  }


  &--overlay {
    // --- Мини-настройка для того, чтобы элементы Главной страницы с меньшим z-index находились "под" модальным окном ---
    z-index: 2;

    width: 100vw;
    height: 100vh;

    background-color: rgba($white, 0.9);
  }

  &--window {
    top: 50%;

    // --- Мини-настройка для того, чтобы элементы Главной страницы с меньшим z-index находились "под" модальным окном ---
    z-index: 3;

    transform: translateY(-50%);

    min-height: 338px;

    width: 100%;

    background-color: $white;

    border-top: 1px solid $steel--dark;
    border-bottom: 1px solid $steel--dark;

    box-shadow: 0 5px 10px rgba($black, 0.25);
  }
}


.modal__heading {
  width: 148px;

  margin: 0 auto;
  margin-top: 30px;

  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}


/*
=======================================================
=== МЕДИАВЫРАЖЕНИЯ: стили для разных ширин вьюпорта ===
=======================================================
*/

// --- 1) Медиа для "Планшетной" версии сайта ---
@media (min-width: $width--tablet) {
  .modal {
    // --- Настройка для секции "Форма добавления в корзину" ---
    &--window {
      left: 50%;

      transform: translate(-50%, -50%);

      width: auto;

      border: none;

      box-shadow: none;
    }
  }


  .modal__heading {
    width: auto;

    margin-top: 0;
    padding-top: 34px;
    padding-left: 2px;

    font-size: 30px;
    line-height: 57px;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Планшетной" версии ---
}
