// --- Обёртка для элементов Формы ---
.order-form-wrapper {
  padding-left: 30px;

  // "Подвал" Формы — блок с примечанием и кнопкой отправки ---
  &--form-footer {
    padding-left: 28px;
  }
}


/*
=======================================================
=== МЕДИАВЫРАЖЕНИЯ: стили для разных ширин вьюпорта ===
=======================================================
*/

// --- 1) Медиа для "Планшетной" версии сайта ---
@media (min-width: $width--tablet) {
  .order-form-wrapper {
    display: flex;
    padding-left: 1px;


    // --- Настройка для обёртки внтури раздела "Контактная информация" ---
    &--contact-info {
      flex-direction: column;
    }


    // --- Настройки для блока в конце Формы, содержащего примечание и кнопку ---
    &--form-footer {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-start;

      margin-top: 53px;
    }
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Планшетной" версии ---
}


// *** 2) Медиа для "Десктопной" версии сайта ***
@media (min-width: $width--desktop) {
  .order-form-wrapper--form-footer {
    width: 700px;

    margin-top: 49px;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Десктопной" версии ---
}
