.reviews {
  position: relative;

  margin-top: 32px;
  padding-left: 30px;
  padding-right: 30px;

  border-top: 1px solid transparent;
}


.reviews__heading {
  margin-bottom: 0;
  margin-left: -1px;

  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}


// .reviews__author {
//   margin: 0;
//   margin-top: 27px;
// }


// .reviews__author-name {
//   margin-left: 2px;

//   font-size: 17px;
//   font-weight: 700;
//   line-height: 24px;
// }


// .reviews__author-socials {
//   display: inline-block;

//   margin-top: 3px;

//   font-size: 17px;
//   font-weight: 400;
//   line-height: 30px;
// }


.reviews__toggles {
  display: flex;
  justify-content: space-between;

  margin-top: 29px;
}


.reviews__toggle-button {
  flex-grow: 1;

  min-height: 52px;

  background-color: transparent;

  border: 1px solid $gray--lightest;


  // --- Модификаторы для кнопок-переключателей ---
  &--left {
    margin-right: -1px;
  }
}


.reviews__toggle-button-icon {
  width: 50px;
  height: 26px;

  margin-top: 3px;
  margin-left: -3px;
}


.reviews__writing-button {
  min-height: 52px;

  margin-top: 38px;
  padding-top: 13px;

  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}


/* ************************************************
*** Псевдоклассы для разных состояний элементов ***
************************************************ */
.reviews__toggle-button:hover .reviews__toggle-button-icon,
.reviews__toggle-button:focus .reviews__toggle-button-icon {
  opacity: 0.6;
}

.reviews__toggle-button:active .reviews__toggle-button-icon {
  opacity: 0.3;
}


/*
=======================================================
=== МЕДИАВЫРАЖЕНИЯ: стили для разных ширин вьюпорта ===
=======================================================
*/

// --- 1) Медиа для "Планшетной" версии сайта ---
@media (min-width: $width--tablet) {
  .reviews {
    display: flex;
    flex-direction: column;

    margin-top: 31px;
    padding-left: 0;
    padding-right: 0;
  }


  .reviews__wrapper {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    min-height: 455px;

    padding-top: 39px;
    padding-left: 47px;
    padding-right: 50px;

    background-color: $white;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }


  .reviews__heading {
    // --- Этот flex-элемент внутри flex-контейнера ".reviews" идёт ПЕРВЫМ ---
    order: 1;

    font-size: 43px;
    line-height: 50px;
  }


  .reviews__messages-list {
    // --- Этот flex-элемент внутри flex-контейнера ".reviews" идёт ТРЕТЬИМ ---
    order: 3;
  }


  .reviews__toggles {
    position: absolute;
    right: 50px;
    bottom: 49px;
  }


  .reviews__toggle-button {
    padding: 0 20px;

    border: none;
  }


  .reviews__writing-button {
    // --- Этот flex-элемент внутри flex-контейнера ".reviews" идёт ВТОРЫМ ---
    order: 2;

    width: 175px;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Планшетной" версии ---
}


// *** 2) Медиа для "Десктопной" версии сайта ***
@media (min-width: $width--desktop) {
  .reviews {
    margin-top: 37px;
  }


  .reviews__heading {
    margin: 0;
    margin-top: 30px;
    padding: 0;

    font-size: 53px;
    line-height: 57px;
  }


  .reviews__wrapper {
    padding: 0;
    padding-top: 41px;
    padding-bottom: 52px;
    padding-left: 172px;
  }


  .reviews__toggles {
    right: 0;
    bottom: 99px;
  }

  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Десктопной" версии ---
}
