.site-footer {
  min-height: 160px;

  margin-top: 38px;

  border-top: 1px solid transparent;

  background-color: $gray;
}


.site-footer__logo {
  display: none;
}


/*
=======================================================
=== МЕДИАВЫРАЖЕНИЯ: стили для разных ширин вьюпорта ===
=======================================================
*/

// --- 1) Медиа для "Планшетной" версии сайта ---
@media (min-width: $width--tablet) {
  .site-footer {
    margin-top: 57px;


    // *** Мини-настройка для отступа Подвала на странице "Форма заказа" ***
    &--form-page {
      margin-top: 50px;
    }
  }


  .site-footer__wrapper {
    display: flex;

    margin-top: 50px;
  }


  .site-footer__logo {
    display: block;

    width: 106px;
    height: 34px;


    &:hover,
    &:focus {
      fill: $mint--hover;
    }

    &:active {
      fill: $mint--hover;

      opacity: 0.3;
    }
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Планшетной" версии ---
}


// *** 2) Медиа для "Десктопной" версии сайта ***
@media (min-width: $width--desktop) {
  .site-footer {
    margin-top: 99px;


    &--form-page {
      margin-top: 50px;
    }
  }


  .site-footer__wrapper {
    justify-content: space-between;
  }

  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Десктопной" версии ---
}
