.site-navigation {
  @include markerless;

  width: 340px;
  margin: 0 auto;
}


.site-navigation__item {
  display: flex;

  min-height: 80px;

  margin-top: -1px;
  margin-bottom: -2px;
  padding-top: 28px;
  padding-left: 76px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  border-bottom: 1px solid $gray--lightest;
}


.site-navigation__link {
  position: relative;

  color: $black;
  text-decoration: none;
}


.site-navigation__icon {
  position: absolute;
  top: 14px;

  transform: translateY(-50%);

  width: 19px;
  height: 20px;

  opacity: 0.2;


  // --- Модификаторы классов для позиционирования иконок ---
  &--search {
    left: -44px;
  }

  &--cart {
    left: -46px;
  }
}


/* ---------------------------------------------------------
--- Визуальные Эффекты при различных состояниях элемента ---
--------------------------------------------------------- */
.site-navigation__link:hover,
.site-navigation__link:focus {
  color: $gray--hovered;
}

.site-navigation__link:active {
  color: $gray--active;
}


.site-navigation__link:hover .site-navigation__icon,
.site-navigation__link:focus .site-navigation__icon {
  opacity: 1;
  fill: $mint--light;
}

.site-navigation__link:active .site-navigation__icon {
  opacity: 0.3;
  fill: $mint--light;
}


/*
=======================================================
=== МЕДИАВЫРАЖЕНИЯ: стили для разных ширин вьюпорта ===
=======================================================
*/

// --- 1) Медиа для "Планшетной" версии сайта ---
@media (min-width: $width--tablet) {
  .site-navigation {
    width: auto;
    height: 100%;
    min-height: 88px;

    margin: 0;
  }


  .site-navigation__item {
    padding-left: 0;

    border-bottom: none;


    &--search-item {
      width: 83px;
    }

    &--cart-item {
      display: flex;

      padding-top: 0;

      width: 264px;
    }
  }


  .site-navigation__icon {

    // --- Позиционирование иконок Пользовательской навигации ---
    &--search {
      width: 18px;
      height: 19px;

      top: 19px;
      left: 33px;
    }

    &--cart {
      width: 21px;
      height: 18px;

      top: 45px;
      left: 31px;
    }
  }


  // --- Мини-настройка для пункта меню "Поиск" из Пользовательской навигации ---
  .site-navigation__link-title {
    // Модификаторы класса для элементов списка
    &--search {
      font-size: 0;
    }

    &--cart {
      margin-right: -1px;
    }
  }


  // *** Комбинированные селекторы — для построения сложных сеток ***

  // Настройка для элементов списка Внутренней навигации
  .site-navigation--inner-nav .site-navigation__item {
    min-height: 30px;

    padding-top: 7px;
    padding-right: 36px;
    padding-left: 1px;

    font-size: 15px;
    line-height: 24px;

    border-bottom: 0;
  }


  // Настройка для элементов списка Пользовательской навигации
  .site-navigation--user-nav .site-navigation__item {
    border-left: 1px solid $gray--lightest;
  }


  .site-navigation__item--cart-item .site-navigation__link {
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  .site-navigation__item--cart-item .site-navigation__link-title--cart {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;

    text-align: right;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Планшетной" версии ---
}


// *** 2) Медиа для "Десктопной" версии сайта ***
@media (min-width: $width--desktop) {
  .site-navigation {
    &--user-nav {
      margin-right: 3px;
      margin-left: auto;
    }
  }


  // *** Комбинированные селекторы — для построения сложных сеток ***

  // Настройка для элементов списка Внутренней навигации
  .site-navigation--inner-nav .site-navigation__item {
    padding-top: 32px;
    padding-left: 35px;

    font-size: 17px;
    line-height: 24px;

    border-right: 1px solid $gray--lightest;


    // --- Настройки для первого и последнего эл-тов меню ---
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;

      border: none;
    }
  }


  // --- Настройка для элементов меню Навигации по событиям ---
  .site-navigation--events .site-navigation__item {
    min-height: auto;

    padding: 0;
    padding-right: 15px;

    font-size: 15px;
    line-height: 24px;


    // --- Настройки для первого и последнего эл-тов меню ---
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: 46px;
    }
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Десктопной" версии ---
}
