.video {
  width: 260px;

  margin-top: 30px;
  margin-bottom: 20px;

  border: 1px solid $gray--lightest;

  transition: box-shadow 0.15s ease;


  // --- Псевдоклассы для разных состояний элемента ---
  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba($black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba($black, 0.1);
  }
}


.video__header {
  position: relative;

  min-height: 96px;

  padding-top: 10px;
  padding-left: 90px;
}


.video__header-icon {
  position: absolute;
  top: 29px;
  left: 33px;

  width: 32px;
  height: 32px;

  fill: $mint--light;
}


.video__heading {
  width: 140px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}


.video__player {
  position: relative;

  margin-left: -1px;
}


.video__player-image {
  display: block;

  margin: 0 auto;
}

.video__player-play-button {
  position: absolute;
  top: 34px;
  left: 67px;

  cursor: pointer;

  width: 114px;
  height: 77px;

  background-color: transparent;

  border: none;
}

.video__player-play-button-icon {
  width: 114px;
  height: 77px;

  transition: transform 0.15s ease, opacity 0.15s ease;
}


.video__description {
  width: 220px;

  margin-bottom: 0;
  padding-top: 13px;
  padding-left: 33px;

  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}


.video__order-button {
  width: 192px;
  min-height: 52px;

  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 32px;
  padding-top: 14px;
}


// --- Комбинированные селекторы — псевдоклассы для разных состояний элемента ---
.video__player-play-button:hover .video__player-play-button-icon,
.video__player-play-button:focus .video__player-play-button-icon {
  transform: scale(1.2);
}

.video__player-play-button:active .video__player-play-button-icon {
  transform: scale(0.8);

  opacity: 0.3;
}


/*
=======================================================
=== МЕДИАВЫРАЖЕНИЯ: стили для разных ширин вьюпорта ===
=======================================================
*/

// --- 1) Медиа для "Планшетной" версии сайта ---
@media (min-width: $width--tablet) {
  .video {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 668px;
    min-height: 742px;

    margin-bottom: 6px;
  }


  .video__header {
    // --- Этот элемент идёт во flex-контейнере ".video" ВТОРЫМ ---
    order: 2;

    min-height: auto;

    padding-bottom: 0;
  }


  .video__header-icon {
    top: 33px;
    left: 41px;
  }


  .video__heading {
    width: auto;

    margin-top: 28px;
    margin-left: 17px;

    font-size: 20px;
    line-height: 24px;
  }


  .video__player {
    // --- Этот элемент идёт во flex-контейнере ".video" ПЕРВЫМ ---
    order: 1;

    min-height: 453px;
  }


  .video__player-image {
    width: 668px;
    height: 454px;

    border-bottom: 1px solid $gray--lightest;
  }


  .video__player-play-button {
    top: 187px;
    left: 271px;
  }


  .video__description {
    // --- Этот элемент идёт во flex-контейнере ".video" ТРЕТЬИМ ---
    order: 3;

    width: 100%;

    margin-top: 2px;
    padding-left: 40px;

    font-size: 15px;
    line-height: 30px;
  }


  .video__order-button {
    // --- Этот элемент идёт во flex-контейнере ".video" ЧЕТВЁРТЫМ ---
    order: 4;

    width: 584px;

    margin-top: 35px;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Планшетной" версии ---
}


// *** 2) Медиа для "Десктопной" версии сайта ***
@media (min-width: $width--desktop) {
  .video {
    position: relative;

    justify-content: flex-start;
    align-items: flex-end;

    width: 1050px;
    min-height: 458px;

    margin-top: 0;
  }


  .video__player {
    position: absolute;
    top: 0;
    left: 0;
  }


  .video__player-image {
    width: 682px;
    height: 457px;
  }


  .video__player-play-button {
    top: 190px;
    left: 279px;
  }


  .video__header {
    margin-top: 98px;
    margin-right: 110px;
    padding: 0;
  }


  .video__header-icon {
    top: -54px;
    left: 2px;
  }


  .video__heading {
    width: 179px;

    margin: 0;
  }


  .video__description {
    width: 329px;

    margin-top: 32px;
    padding: 0;
    padding-left: 40px;
  }


  .video__order-button {
    width: 230px;

    margin: 0;
    margin-top: 47px;
    margin-right: 57px;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Десктопной" версии ---
}
