.wrapper {
  // --- "Обёртка" для Шапки сайта ---
  &--site-header {
    border-bottom: 1px solid $gray--lightest;

    padding-bottom: 1px;
  }
}


/*
=======================================================
=== МЕДИАВЫРАЖЕНИЯ: стили для разных ширин вьюпорта ===
=======================================================
*/

// *** 2) Медиа для "Десктопной" версии сайта ***
@media (min-width: $width--desktop) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 71px;


    // *** Настройка для позиционирования Шапки сайта ***
    &--site-header {
      display: block;

      margin-top: 0;
    }
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Десктопной" версии ---
}
