.about-us {
  margin-top: 29px;
  padding-left: 30px;
  padding-right: 30px;
}

.about-us__heading {
  margin: 0;
  margin-bottom: 28px;
  margin-left: -1px;

  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}


/*
=======================================================
=== МЕДИАВЫРАЖЕНИЯ: стили для разных ширин вьюпорта ===
=======================================================
*/

// --- 1) Медиа для "Планшетной" версии сайта ---
@media (min-width: $width--tablet) {
  .about-us {
    margin-top: 50px;
    padding-left: 0;
  }


  .about-us__heading {
    margin-bottom: 0;
    margin-left: -5px;

    font-size: 43px;
    line-height: 50px;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Планшетной" версии ---
}


// *** 2) Медиа для "Десктопной" версии сайта ***
@media (min-width: $width--desktop) {
  .about-us {
    margin-top: 14px;
    padding-top: 44px;
    padding-left: 176px;
  }


  .about-us__heading {
    font-size: 53px;
    line-height: 57px;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Десктопной" версии ---
}
