.add-order-form {
  margin-top: 12px;
}


.add-order-form__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}


.add-order-form__heading {
  margin: 0 auto;
  margin-bottom: -7px;

  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}


.add-order-form__submit-button {
  width: 100%;
  min-height: 52px;

  margin-top: 31px;
  padding: 0;

  vertical-align: middle;

  font-size: 17px;
  font-weight: 700;
  line-height: 48px;
  color: $white;

  background-color: $mint--light;
  border-color: $mint--light;


  &:hover,
  &:focus {
    background-color: $mint--hover;
    border-color: $mint--hover;
  }
}


/*
=======================================================
=== МЕДИАВЫРАЖЕНИЯ: стили для разных ширин вьюпорта ===
=======================================================
*/

// --- 1) Медиа для "Планшетной" версии сайта ---
@media (min-width: $width--tablet) {
  .add-order-form {
    padding-right: 77px;
    padding-left: 77px;
  }


  .add-order-form__heading {
    font-size: 17px;
    line-height: 30px;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Планшетной" версии ---
}
