.advantages-list {
  @include markerless;

  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
}

.advantages-list__item {
  display: flex;
  align-items: flex-end;

  position: relative;

  min-height: 100px;

  margin-top: -1px;
  margin-bottom: 24px;
  padding-top: 60px;


  &:last-child {
    margin-bottom: 0;
  }
}

.advantages-list__item-icon {
  position: absolute;
  top: 0;

  fill: $mint--light;


  // --- Позиционирование иконок для списка преимуществ магазина ---
  &--flower {
    top: 5px;
    left: 8px;

    width: 32px;
    height: 37px;
  }

  &--money {
    top: 6px;
    left: 0;

    width: 47px;
    height: 27px;
  }

  &--heart {
    top: 11px;
    left: 7px;

    width: 34px;
    height: 27px;
  }

  &--ball {
    top: 8px;
    left: 4px;

    width: 35px;
    height: 34px;
  }

  &--rocket {
    top: 9px;
    left: -6px;

    width: 55px;
    height: 23px;
  }

  &--gift {
    top: 7px;
    left: 3px;

    width: 33px;
    height: 32px;
  }
}


/*
=======================================================
=== МЕДИАВЫРАЖЕНИЯ: стили для разных ширин вьюпорта ===
=======================================================
*/

// --- 1) Медиа для "Планшетной" версии сайта ---
@media (min-width: $width--tablet) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 45px;

    font-size: 20px;
    line-height: 22px;
  }


  .advantages-list__item {
    width: 300px;

    margin-bottom: 52px;

    &:last-child {
      margin-bottom: 52px;
    }
  }


  .advantages-list__item-icon {

    // --- Мини-настройка для иконки с подарком ---
    &--gift {
      left: 0;
    }
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Планшетной" версии ---
}


// *** 2) Медиа для "Десктопной" версии сайта ***
@media (min-width: $width--desktop) {
  .advantages-list {
    width: 650px;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Десктопной" версии ---
}
