.catalog-list {
  @include markerless;
}


.catalog-list__item {
  margin-top: 30px;
  margin-bottom: 0;
}


/*
=======================================================
=== МЕДИАВЫРАЖЕНИЯ: стили для разных ширин вьюпорта ===
=======================================================
*/

// --- 1) Медиа для "Планшетной" версии сайта ---
@media (min-width: $width--tablet) {
  .catalog-list__item {
    margin-top: 0;
    margin-bottom: 54px;
  }

  // --- Мини-настройка для последнего элемента списка с карточкой товара ---
  .catalog-list__item:last-child > * {
    min-height: auto;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Планшетной" версии ---
}


// *** 2) Медиа для "Десктопной" версии сайта ***
@media (min-width: $width--desktop) {
  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  // --- Мини-настройка для последнего элемента списка с карточкой товара ---
  .catalog-list__item:last-child > * {
    min-height: 659px;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Десктопной" версии ---
}
