.form-options {
  @include markerless;


  // --- Настройки для списка эл-тов из раздела "Тип"
  &--type-flags {
    margin-top: 24px;
  }


  // --- Настройки для списка эл-тов из раздела "Цвет"
  &--color-flags {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 24px;
    margin-bottom: 0;
  }

  // --- Настройки для списка эл-тов из раздела "ФИО"
  &--name-fields {
    margin-top: 25px;
  }
}


.form-options__item {
  margin-bottom: 0;
}


.form-options__label {
  display: inline-block;

  position: relative;

  font-size: 17px;
  font-weight: 700;
  line-height: 18px;

  // --- Псевдоэлементы для реализации кастомных полей Формы ---
  &::before,
  &::after {
    content: "";

    position: absolute;

    display: block;
  }
}


// *** Модификатор класса для полей формы из раздела "Тип" ***
.form-options__label--type {
  width: 220px;
  min-height: 38px;

  padding-top: 8px;
  padding-left: 63px;

  &::before {
    top: 0;
    left: 0;

    width: 38px;
    height: 38px;

    border: 2px solid $gray--dark;
    border-radius: 50%;

    transition: border-color 0.1s ease, opacity 0.1s ease;
  }
}


// *** Модификатор класса для полей формы из раздела "Цвет" ***
.form-options__label--color {
  width: auto;
  min-height: 39px;

  padding-top: 12px;
  padding-left: 63px;

  &::before {
    top: 0;
    left: 0;

    width: 40px;
    height: 39px;

    border: 2px solid $gray--dark;

    opacity: 1;

    transition: border-color 0.1s ease, opacity 0.1s ease;
  }
}


.form-options__data-entry-field {
  display: block;

  width: 260px;

  font-size: 17px;
  font-weight: 400;
  line-height: 18px;

  padding-top: 13px;
  padding-bottom: 16px;

  border: none;
  border-bottom: 2px solid $black;


  // --- Модификаторы класса для полей из раздела "Контактная информация" ---
  &--tel {
    padding-top: 17px;
    padding-bottom: 13px;

    font-size: 19px;
    font-weight: 400;
    line-height: 18px;
  }

  &--email {
    padding-top: 22px;
    padding-bottom: 16px;

    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
  }
}


.form-options__data-entry-field-icon {
  position: absolute;

  opacity: 0.2;


  // --- Модификаторы для разных иконок ---
  &--phone {
    top: 17px;
    right: 38px;

    width: 25px;
    height: 24px;
  }

  &--email {
    top: 17px;
    right: 34px;

    width: 32px;
    height: 26px;
  }
}


.form-options__wishes {
  width: 260px;
  min-height: 142px;

  margin-top: 24px;
  padding-top: 14px;
  padding-left: 15px;

  font-size: 17px;
  font-weight: 400;
  line-height: 18px;

  border: 2px solid $gray--dark;
}


/* ***************************************************************
*** Комбинированные селекторы — для позиционирования элементов ***
*************************************************************** */

// --- Позиционирование элементов раздела "Тип" ---
.form-options--type-flags .form-options__item {
  margin-top: 13px;
}

// --- Позиционирование элементов раздела "Цвет" ---
.form-options--color-flags .form-options__item {
  margin-top: 22px;


  // --- Настройка для каждого первого элемента в списке ---
  &:first-child {
    margin-top: 0;
  }
}

// --- Позиционирование элементов раздела "ФИО" ---
.form-options--name-fields .form-options__item {
  margin-top: 19px;
  padding-left: 0;


  // --- Настройка для каждого первого элемента в списке ---
  &:first-child {
    margin-top: 0;
  }
}

/*
=====================================================================
=== Комбинированные селекторы — для взаимодействия с полями Формы ===
=====================================================================
*/

// --- Радиокнопки из раздела "Тип" ---
.form-options__radiobutton:checked + .form-options__label--type {
  &::after {
    top: 11px;
    left: 11px;

    width: 16px;
    height: 16px;

    background-color: $mint;

    border: 2px solid $mint;
    border-radius: 50%;
  }
}


// --- Чекбоксы из раздела "Цвет" ---
.form-options__checkbox:checked + .form-options__label--color {
  &::after {
    content: url("../img/checkbox-tick.svg");

    top: 6px;
    left: 5px;

    width: 33px;
    height: 23px;
  }
}


// --- Стили эл-тов при фокусе (для обеспечения доступности) ---
.form-options__radiobutton:focus + .form-options__label--type,
.form-options__checkbox:focus + .form-options__label--color {
  outline: 2px solid $outline;
  outline-offset: 5px;
}


/*
=========================================================
=== Псевдоклассы для разных состояний элементов Формы ===
=========================================================
*/

// --- Радиокнопки: наведение и фокус ---
.form-options__label--type:hover::before,
.form-options__label--type:focus::before,
// --- Чекбоксы: наведение и фокус ---
.form-options__label--color:hover::before,
.form-options__label--color:focus::before,
// --- Поля ввода данных: все состояния ---
.form-options__data-entry-field:hover,
.form-options__data-entry-field:focus,
.form-options__data-entry-field:active,
// --- Текстовое поле (раздел "Доп"): все состояния ---
.form-options__wishes:hover,
.form-options__wishes:focus,
.form-options__wishes:active {
  border-color: $mint;
}

// --- Радиокнопки и чекбоксы: активное состояние ---

.form-options__label--type:active::before,
.form-options__label--color:active::before {
  border-color: $gray--dark;

  opacity: 0.3;
}


// --- Иконки полей ввода данных: все состояния ---
.form-options__data-entry-field:hover + .form-options__data-entry-field-icon,
.form-options__data-entry-field:focus + .form-options__data-entry-field-icon,
.form-options__data-entry-field:active + .form-options__data-entry-field-icon {
  opacity: 1;

  fill: $mint;
}


/*
=======================================================
=== МЕДИАВЫРАЖЕНИЯ: стили для разных ширин вьюпорта ===
=======================================================
*/

// --- 1) Медиа для "Планшетной" версии сайта ---
@media (min-width: $width--tablet) {
  .form-options {
    margin-top: 0;


    // --- Настройки для списков элементов разных разделов ---
    &--type-flags {
      padding-top: 33px;
    }


    &--color-flags {
      flex-direction: row;
      justify-content: space-between;

      width: 100%;

      padding-top: 50px;
      padding-right: 0;
      padding-left: 34px;
    }


    &--name-fields {
      width: 100%;

      margin-left: 42px;
      padding-top: 65px;
    }
  }


  .form-options__label {
    display: inline-block;

    font-size: 19px;
    line-height: 18px;
  }


  // --- Лейблы к радиокнопкам раздела "Тип" ---
  .form-options__label--type {
    width: auto;
    min-height: 52px;

    padding-top: 16px;
    padding-left: 80px;

    // --- Настройка для кастомных радиокнопок (раздел "Тип") ---
    &::before {
      top: 0;
      left: 0;

      width: 52px;
      height: 52px;
    }
  }


  // --- Настройка для кастомных чекбоксов (раздел "Цвет") ---
  .form-options__label--color {
    width: auto;
    min-height: 52px;

    padding-top: 16px;
    padding-left: 80px;


    &::before {
      top: 0;
      left: 0;

      width: 54px;
      height: 52px;
    }
  }


  // --- Настройки для полей ввода данных (разделы "ФИО" и "Контактная информация") ---
  .form-options__data-entry-field {
    background-color: transparent;

    width: 100%;

    // Свойства для полей ввода из раздела "ФИО"
    &--name-fields {
      width: 100%;

      margin-top: -4px;
      margin-left: 24px;
      padding: 0;
      padding-bottom: 13px;
      padding-left: 16px;

      font-size: 19px;
      line-height: 18px;
    }

    // Свойства для поля ввода из подраздела "Тел" (раздел "Контактная информация")
    &--tel {
      padding-left: 16px;
    }


    &--email {
      padding-top: 23px;
      padding-left: 16px;
      padding-bottom: 13px;

      font-size: 19px;
      line-height: 18px;
    }
  }

  // --- Позиционирование иконок для полей ввода (раздел "Контактная информация") ---
  .form-options__data-entry-field-icon {
    &--phone {
      top: 17px;
      right: 26px;
    }

    &--email {
      top: 23px;
      right: 22px;
    }
  }


  .form-options__wishes {
    width: 100%;

    margin-top: 0;
    margin-left: 42px;
    padding-top: 13px;

    font-size: 19px;
    line-height: 18px;
  }


  /* ***************************************************************
  *** Комбинированные селекторы — для позиционирования элементов ***
  *************************************************************** */

  // --- Позиционирование элементов раздела "Тип" ---
  .form-options--type-flags .form-options__item {
    margin: 0;
    margin-bottom: 22px;


    &:last-child {
      margin-bottom: 0;
    }
  }


  // --- Позиционирование элементов раздела "Цвет" ---
  .form-options--color-flags .form-options__item {
    width: 205px;

    margin-top: 0;
    margin-right: 34px;
    margin-bottom: 24px;


    // --- Настройка для каждого первого элемента в списке ---
    &:first-child {
      margin-top: 0;
    }
  }


  .form-options--name-fields .form-options__item {
    display: flex;

    width: 100%;

    margin-top: 0;
    margin-bottom: 39px;
  }


  /*
  =====================================================================
  === Комбинированные селекторы — для взаимодействия с полями Формы ===
  =====================================================================
  */

  // --- Радиокнопки из раздела "Тип" ---
  .form-options__radiobutton:checked + .form-options__label--type {
    &::after {
      top: 15px;
      left: 15px;

      width: 21px;
      height: 21px;
    }
  }


  // --- Чекбоксы из раздела "Цвет" ---
  .form-options__checkbox:checked + .form-options__label--color {
    &::after {
      top: 15px;
      left: 11px;

      width: 33px;
      height: 28px;
    }
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Планшетной" версии ---
}


// *** 2) Медиа для "Десктопной" версии сайта ***
@media (min-width: $width--desktop) {
  .form-options {
    &--type-flags {
      margin-left: 7px;
      padding-top: 32px;
    }

    &--color-flags {
      justify-content: flex-start;

      padding-left: 23px;
    }

    &--name-fields {
      width: 700px;

      margin-left: 9px;
    }
  }


  .form-options__data-entry-field-icon {
    &--phone {
      right: 8px;
    }

    &--email {
      right: 3px;
    }
  }


  .form-options__wishes {
    width: 700px;

    margin-left: 7px;
  }


  /* ***************************************************************
  *** Комбинированные селекторы — для позиционирования элементов ***
  *************************************************************** */

  // --- Позиционирование элементов раздела "Цвет" ---
  .form-options--color-flags .form-options__item {
    margin-right: 58px;
  }


  /*
  =====================================================================
  === Комбинированные селекторы — для взаимодействия с полями Формы ===
  =====================================================================
  */

  // --- Радиокнопки из раздела "Тип" ---
  .form-options__radiobutton:checked + .form-options__label--type {
    &::after {
      top: 15px;
      left: 15px;
    }
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Десктопной" версии ---
}
