/*
=======================================================
=== МЕДИАВЫРАЖЕНИЯ: стили для разных ширин вьюпорта ===
=======================================================
*/

// --- 1) Медиа для "Планшетной" версии сайта ---
@media (min-width: $width--tablet) {
  .logo__image {
    width: 113px;
    height: 46px;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Планшетной" версии ---
}


// *** 2) Медиа для "Десктопной" версии сайта ***
@media (min-width: $width--desktop) {
  .logo__image {
    width: 149px;
    height: 72px;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Десктопной" версии ---
}
