.reviews-list {
  @include markerless;

  margin-top: 24px;

  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}


.reviews-list__author {
  margin: 0;
  margin-top: 23px;
}


.reviews-list__author-name {
  margin-left: 2px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}


.reviews-list__author-socials {
  display: inline-block;

  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}


/*
=======================================================
=== МЕДИАВЫРАЖЕНИЯ: стили для разных ширин вьюпорта ===
=======================================================
*/

// --- 1) Медиа для "Планшетной" версии сайта ---
@media (min-width: $width--tablet) {
  .reviews-list {
    min-height: 275px;

    margin-top: 0;
    margin-left: 2px;
    padding-top: 19px;
  }


  .reviews-list__item {
    font-size: 17px;
    line-height: 30px;
  }


  .reviews-list__message {
    margin: 0;
  }


  .reviews-list__author {
    margin-top: 55px;
  }


  .reviews-list__author-name {
    font-size: 18px;
    line-height: 24px;
  }


  .reviews-list__author-socials {
    display: block;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Планшетной" версии ---
}


// *** 2) Медиа для "Десктопной" версии сайта ***
@media (min-width: $width--desktop) {
  .reviews-list {
    width: 796px;

    margin: 0;
    margin-left: 3px;
    padding-top: 45px;
  }


  .reviews-list__author {
    margin-top: 36px;
  }


  /* ------------------------------------------------------------------- */
  // --- Конец медиа для "Десктопной" версии ---
}
